@{
    ViewData["Title"] = "About Page";
}

@model List<ACLEDABank.Models.BankAccount>
<h2>🏦 ACLEDA Bank - All Accounts</h2>
<p>Owner: @ViewBag.Owner</p>
<p>Balance: @ViewBag.Balance</p>

<h3> Saving Account</h3>
<p>Owner: @ViewBag.SavingOwner</p>
<p>Balance with Interest: $@ViewBag.SavingBalance</p>

<h3> Loan Account</h3>
<p>Owner: @ViewBag.LoanOwner</p>
<p>Monthly Payment: $@ViewBag.MonthlyPayment</p>

<h2>All Account Types</h2>
@foreach(var acc in
        (List<BankAccount>)ViewBag.Accounts)
{
    <div style="border: 1px solid #ccc;
                padding:10px; margin:10px">
        <p> Owner: @acc.OwnerName</p>
        <p> Balance: $@acc.Balance</p>
        <p> Type: @acc.GetAccountType()</p>
            
     </div>
}